.minecraft/logs
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/coremods
.minecraft/fancymenu_data
.minecraft/fancymenu_setups
.minecraft/saves
.minecraft/usernamecache.json
.minecraft/usercache.json
.minecraft/crash-reports
.minecraft/optionsshaders.txt
.minecraft/patchouli_data.json
/natives
/instance.cfg
